In [2]:
import pandas as pd

pd.__version__

'2.2.0'

In [9]:
dict_measure = {
  'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
  'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176],
}

In [5]:
dict_measure

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 176]}

In [10]:
df_measure = pd.DataFrame.from_dict(dict_measure)

df_measure

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medias Resumo

### Medidas de posicao

In [11]:
# Media

df_measure['idade'].mean()

41.77777777777778

In [12]:
# Mediana

df_measure['idade'].median()

40.0

In [13]:
# Moda

df_measure['idade'].mode()

0    25
Name: idade, dtype: int64

In [14]:
# Moda - Altura

df_measure['altura'].mean()

169.44444444444446

### Medias de dispercao

In [15]:
# Variancia

df_measure.idade.var()

509.94444444444446

In [16]:
# Desvio padrao

df_measure.idade.std()

22.58194952709895

In [17]:
# Coeficiente de Variacao - Idade

df_measure.idade.std() / df_measure.idade.mean() * 100

54.05253876167302

In [18]:
# Coeficiente de Variacao - Altura

df_measure.altura.std() / df_measure.altura.mean() * 100

3.4803552812368785

### Medidas de Forma

In [19]:
# Assimetria - Idade

df_measure.idade.skew()

0.368108517895537

In [20]:
# Assimetria - Altura

df_measure.altura.skew()

-0.598486996170113

In [22]:
# Curtose - Idade

df_measure.idade.kurtosis()

-1.1344461075421046

In [ ]:
# Curtose - Altura

df_measure.altura.kurtosis()